<div class="players">
  <div class="card mt-5 p-3">
    <btn class="btn-primary btn-add" text="Add" @click="addPlayer" />

    <h3 class="card-title text-center">Players</h3>

    <div class="card-body">
      <div class="row">
        <div
          v-for="(player, index) in players"
          :key="`player_${index}`"
          class="col-12 col-md-6 col-lg-4 form-group"
        >
          <div class="input-group">
            <input
              v-model="player.name"
              class="form-control"
              @input="updatePlayer(player)"
            />

            <div class="input-group-append">
              <btn
                class="btn-danger"
                text="[*]"
                @click="removePlayer(player.id)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
