body {
  background-color: #e3e3e3;
}

.players input.dib {
  display: inline-block;
  width: auto;
}

.game-modes .list-group-item {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.darts-panel .btn.btn-20 {
  width: calc(20% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.darts-panel .btn.btn-50 {
  width: calc(50% - 13px);
  margin-left: 5px;
  margin-right: 5px;
}

.darts-panel .btn.btn-100 {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}
