<div class="darts-panel">
  <div class="card mt-5 p-3">
    <router-link class="btn btn-warning btn-back" :to="{name: 'home'}">
      Back
    </router-link>

    <h1 class="card-title text-center">MASTER OUT</h1>

    <div v-if="!!winner()">
      <h2 class="text-center">{{ winner().name }} won!</h2>
    </div>

    <div v-else>
      <h2 class="text-center">{{ players[turn].name }} turn</h2>

      <h3 class="text-center">Throws left: {{ throwsLeft }}</h3>
    </div>

    <div class="card-body">
      <div>
        <button
          v-for="(modifier, index) in modifiers"
          class="btn mb-2"
          :class="multiplier === modifier.modifier ? modifier.activeClass : modifier.class"
          @click="triggerMultiplier(modifier.modifier)"
        >
          {{ modifier.text }}
        </button>
      </div>

      <button
        v-for="(button, index) in buttons"
        :key="`button_${index}`"
        :class="button.class + (isClosed(button) ? ' btn-warning' : '')"
        :disabled="!!winner()"
        class="btn btn-primary mb-2"
        @click="throwAction(button)"
      >
        {{ button.text }}
      </button>

      <table class="table mt-5 text-center">
        <thead>
          <tr>
            <th class="player-column">Player</th>
            <th class="score-column">Score</th>
            <th
              class="dart-column"
              v-for="(number) in scorable"
              :key="`number_${number}`"
            >
              <strong>{{ number }}</strong>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(player, index) in players" :key="`player_${index}`">
            <td>{{ player.name }}</td>
            <td>{{ player.score }}</td>
            <td
              v-for="(number) in scorable"
              :key="`player_${index}_number_${number}`"
            >
              <img
                v-for="i in (player.state[number] || 0)"
                :key="`player_${index}_state_{number}_i_${i}`"
                src="../../img/dart.svg"
                class="dart"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-warning btn-100 mb-3" @click="undo">
        UNDO
      </button>

      <button class="btn btn-danger btn-100" @click="reset">
        RESET
      </button>
    </div>
  </div>
</div>
