<div class="darts-panel">
  <div class="card mt-5 p-3">
    <router-link class="btn btn-warning btn-back" :to="{name: 'home'}">
      Back
    </router-link>

    <h1 class="card-title text-center">MASTER OUT</h1>

    <GameData
      :winner="winner()"
      :currentPlayer="players[turn]"
      :throwsLeft="throwsLeft"
    />

    <div class="card-body">
      <div>
        <btn
          v-for="(modifier, index) in modifiers"
          :key="'modifier_' + index"
          class="btn mb-2"
          :class="multiplier === modifier.modifier ? modifier.activeClass : modifier.class"
          :text="modifier.text"
          @click="triggerMultiplier(modifier.modifier)"
        />
      </div>

      <btn
        v-for="(button, index) in buttons"
        :key="'button_' + index"
        :class="button.class + (isClosed(button) ? ' btn-warning' : '')"
        :disabled="!!winner()"
        :text="button.text"
        class="btn btn-primary mb-2"
        @click="throwAction(button)"
      />

      <Scoreboard :numbers="scorable" :players="players" />

      <btn class="btn btn-warning btn-100 mb-3" text="UNDO" @click="undo" />

      <btn class="btn btn-danger btn-100" text="RESET" @click="reset" />
    </div>
  </div>
</div>
